*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    text-align: center;
}
h1{
    margin: 1em;
}
.calculadora{
    width: 400px;
    margin: auto;
    background-color: darkgreen;
    border-radius: 20%;
    padding: 2em;
}
.pantalla{
    background-color: white;
    width: 90%;
    margin: .5em auto 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
   
}
.current-number{
    height: 2.2rem;
    padding: .1em .4em;
    text-align: right;
    font-size: 2rem;
}
.previous-number{
    height: 1.6rem;
    padding: .1em .4em;
    text-align: right;
    font-size: 1.4rem;
}
.teclado{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
}
.tecla{
    font-size: 1.3em;
    font-weight: bolder;
    padding: .4em;
    width: 14%;
    margin-bottom: .5em;
    border-radius: 10%;
    
    border: none;
    transition: background-color .3s;
}
.numero, #punto{
    background-color: rgb(172, 168, 168);
    color: rgb(10, 10, 10);

}
.numero:hover, .punto:hover{
    background-color: rgb(61, 59, 59);
    color: rgb(175, 170, 170);
}
.numero:active, .punto:active{
    background-color: rgb(55, 201, 104);
}
.operador, #igual, #backspace, #clear{
    background-color: rgb(71, 71, 156);
    color: #eee;
}
.operador:hover, #igual:hover, #backspace:hover, #clear:hover{
    background-color: rgb(17, 17, 63);
   
}
.operador:active, #igual:active, #backspace:active, #clear:active{
    background-color: rgb(44, 44, 245);
   
}